html {
  position: relative;
  min-height: 100%;
}

body {
  background: rgb(0, 21, 188);
  margin-bottom: 60px;
}

.container {
  border: 3px solid black;
  background: rgb(255, 255, 255);
}

table tr.data-row th {
  width: 25%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: rgb(53, 58, 63);
}

.footer-content {
  padding-top: 15px;
  padding-left: 1em;
  color: lightgray;
}

.footer-content span {
  padding-left: 2em;
}
