<div class="footer">
  <div class="footer-content">
    <span>Flipcon is not affiliated or associated with any political campaign.  </span>
    <span>Need help? email dccjudgewill@gmail.com</span>
  </div>
</div>
