---
title: Flipcon
navid: index
---

<h1> Welcome to Flipcon </h1>

<p>
  Join us on December 5th to play games and raise money in support of the two Democrat candidates in the 
  Georgia run-off election. 
</p>

<p>How it works is simple:
  <ul>
    <li>GMs schedule games</li>
    <li>Players make a donation to the campaigns of either Jon Ossoff or Raphael Warnock (links below)</li>
    <li>Players show proof of the donation to the GM, which secures them a spot at the (virtual) table</li>
  </ul>
</p>

<p>
  The GM can set the minimum donation required to secure a seat, but recommend any amount. Some GMs may
  also offer in-game perks for donations of specific amounts; see the game description for details.
</p>

<p>
Link to donate to <%= link_to "Raphael Warnock", "https://secure.actblue.com/donate/warnock-for-georgia_social" %>'s
campaign.
<br/>
Link to donate to <%= link_to "Jon Ossoff", "https://secure.actblue.com/donate/ms_hp_ossoff" %>'s campaign.
</p>

<p>
  If you are a player interested in a game, contact the GM to make sure that seats are still available, and 
  then show your proof of donation.
</p>

<p>
  If you are a GM wanting to run a game, email Will Keller at dccjudgewill@gmail.com 
</p>

<p>
  Let's have fun, and flip the Senate!
</p>
